html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.content-container {
  padding: 50px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  color: #111;
  background: radial-gradient(circle at top left, #03045E 0%, #f0f4ff 50%, #fca311 100%);
}

.content-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  color: black;
  font-weight: 800;
  font-family: 'Cinzel', serif;
}

.content-heading h2 {
  margin-top: 10px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.content-box {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 20px 30px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  width: 40%;
  max-width: 600px;
  text-align: center;
  transition: transform 0.3s ease;
  border-left: 5px solid #03045e;
  border-right: 5px solid #03045e;
  cursor: pointer;
}

.content-box:hover {
  transform: scale(1.02);
}

.content-box:nth-child(4){
  margin-bottom: 50px;
}

.content-box h2{
  font-family: 'cinzel',serif;
}

.content-name {
  font-weight: 700;
  color: #03045e;
}

.no-data-msg-container {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 500px;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  animation: bounce 2.5s infinite;
}

.no-data-emoji {
  height: 250px;
  width: 250px;
}

.content-no-data-msg {
  color: red;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.content-circle-image {
  position: absolute;
  width: 222px;
  height: 222px;
  top: 135px;
  left: -30px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0;
  animation: rotateCircle 60s linear infinite;
}

@keyframes rotateCircle {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.content-back-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #03045e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}