.header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #f0f4ff;
}

/* .div1{
    position: absolute;
    width: 500px;
    height: 6px;
    top: 0;
    right: 0;
    border-radius: 20px;
    background-color: #03045E;
}

.div2{
    position: absolute;
    width: 540px;
    height: 6px;
    top: 7px;
    right: 0;
    border-radius: 20px;
    background-color: #03045E;
}

.div3{
    position: absolute;
    width: 580px;
    height: 6px;
    top: 14px;
    right: 0;
    border-radius: 20px;
    background-color: #03045E;
}

.div4{
    position: absolute;
    width: 540px;
    height: 6px;
    top: 21.5px;
    right: 0;
    border-radius: 20px;
    background-color: #03045E;
}

.div5{
    position: absolute;
    width: 500px;
    height: 6px;
    top: 28.5px;
    right: 0;
    border-radius: 20px;
    background-color: #03045E;
} */


.bookmark-ribbon {
  position: absolute;
  right: 0;
  width: 270px;
  height: 31px;
  background-color: #03045E;
  clip-path: polygon(20px 0, 100% 0, 100% 100%, 20px 100%, 0 50%);
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  top: 6px;
  letter-spacing: 1px;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.bookmark-text {
  padding-left: 3rem;
  font-size: 12px;
}

.bookmark-text a {
  color: white;
  margin-left: 22px;
  font-size: 1rem;
  align-items: center;
  transition: color 0.3s ease;
}

.bookmark-text a:hover {
  color: #FCA311;
}


.maimtLogo{
    position: absolute;
    height: 80px;
    width: 80px;
    left: 60px;
}

.heading-line{
    position: absolute;
    left: 222px;
    color: #03045E;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Cinzel', serif;
    top: 15%;
}

.contact-info{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 11px;
    right: 80px;
    font-weight: 500;
}

.contact-info span{
    color: #03045E;
    margin: 30px;
    margin-left: 11px;
    font-weight: 500;
}