.home-navbar {
  background-color: #03045E;
  padding: 0.5rem 1rem;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.home-navbar-container {
  display: flex;
  justify-content: center;
}

.home-navbar-nav {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.home-navbar .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  font-weight: 500;
  margin-right: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: color 0.2s ease;
}

.home-navbar .nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #FFD60A;
  transition: width 0.3s ease-in-out;
}

.home-navbar .nav-link:hover::after {
  width: 100%;
  transform: scale(0.98);
}

.home-navbar .nav-link:hover {
  color: #FFD60A !important;
  transform: scale(0.98);
}

.home-navbar .nav-link.active {
  color: #FFD60A !important;
  transform: scale(0.93);
}

.home-navbar .nav-link.active::after {
  width: 100%;
  transform: scale(0.93);
}