.content-heading h4 {
  margin-bottom: 10px;
  font-weight: 600;
  color: #03045e;
}

.filter-section,
.search-box {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.filter-section label,
.search-box label{
  font-size: 1rem;
  font-weight: 900;
}

.filter-section select {
  padding: 5px 11px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  width: 150px;
}

.search-box input {
  padding: 5px 11px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  width: 222px;
}

input.placeholder-text::placeholder {
  font-size: 0.9rem;
}

.clear-btn {
  margin-left: -45px;
  cursor: pointer;
  font-size: 18px;
  background: none;
}

.year-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 50px 0;
}

.year-card {
  background: #03045E;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 333px;
  text-align: center;
  transition: transform 0.2s ease, background-color 0.3s ease;
  border-left: 5px solid #fca311;
  border-right: 5px solid #fca311;
}

.year-card:not(.expanded){
  border: none;
}

.year-card:hover:not(.expanded) {
  transform: translateY(-4px);
  background-color: #fca311;
}

.year-card:hover {
  transform: translateY(-4px);
  background-color: #03045E;
}

.year-name {
  color: white;
  font-weight: 700;
}

.year-paper-heading{
  margin-top: 10px;
  color: #03045e;
  font-weight: 700;
  font-size: 0.8rem;
}

.content-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.paper-action-group {
  width: 80%;
  height: 80px;
  background-color: #f0f4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  border-radius: 9px;
}

.paper-action-group:last-child {
  margin-bottom: 9px;
}

.paper-buttons-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.content-view-link,
.content-download-link {
  background-color: #03045e;
  color: white;
  padding: 6px 12px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: 700;
  width: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.content-view-link:hover,
.content-download-link:hover {
  background-color: #fca311;
  color: white;
}

.content-box mark {
  background-color: yellow;
  padding: 0 3px;
  border-radius: 4px;
  color: #000;
  font-weight: 600;
}

.no-result-text {
  color: red;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 20px;
  text-align: center;
}

input[type="text"]::placeholder {
  color: #999;
}

input[type="text"]:focus {
  outline: none;
  border-color: #03045e;
  box-shadow: 0 0 3px #03045e66;
}